div {
	margin: 7px;
	border:2px solid #C0C0C0;
	width: 100px;
	height: 100px;
}

.linea {
    display: inline-block; 
}
.rojo {
    display: inline-block; 
}
.grande{
	width: 362px;
	height: 118px;
}
body{
	background-image: url("http://www.nocturnar.com/forum/attachments/escritorio/42126d1343998783-fondos-de-escritorio-fondos-pantalla-paris-1024.jpg");
}